body
{
	background-image: url("bg.jpg");
	font-family: 'Changa One', cursive;
	font-family: 'VT323', monospace;
    font-size: 18px;
}

#content
{
	background-color: blue;
	width: 1000px;
	min-height:100%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 4px solid grey;
	
}

#logo
{
	font-size: 24px;
	font-weight: bold;
	padding: 1px;
	border: 2px solid blue;
	background-color: lightblue;
	color: white;
}

#menu
{
	padding: 5px;
    margin-bottom: 25px;
	background-color: blue;
	position:relative;
	color: white;
	text-align: left;

}
#settings
{
	font-size: 22px;
	padding: 5px;
	border: 2px solid blue;
	background-color: #e0e0e0;
	color: Black;
	font-weight: Bold;
	text-align: left;

}
#controls
{

	padding: 10px;
	border: 2px solid blue;
	margin: auto;
	background-color: lightblue;
	color: white;
	text-align: left;
}
#description
{
	padding: 1px;
	border: 2px solid blue;
	background-color: lightblue;
	color: #1c056e;
	font-weight: bold;
	text-align: center;
	
}
#footer
{
	float: left;
	margin: 0 0 10px 40px;
	padding: 4px;
	border: 4px solid blue;
	background-color: lightblue;
	color: Blue;
	font-weight: bold;
	text-align: center;
}
#inner_settings
{
	float: inherit;
    padding: 15px;
    border: 2px solid blue;

}

.option
{
	font-weight: bold;
	float: left;
	padding: 5px;
	border: 2px solid white;
	background-color: blue;
	position:relative;
	color: white;
	text-align: left;
	opacity: 0.8;
    margin: 0 5px 15px 3px;
}
.option:hover
{
	background-color: white;
	color: blue;
	cursor: pointer;
	
}
.optionC
{
	float: left;
    position: inherit;
	padding: 2px;
	margin: 0 5px 15px 2.5px;
	border: 1px solid white;
	background-color: blue;
	color: white;
	text-align: center;
}
.close:hover
{
	color:white;
	cursor:pointer;
}